
/* ───────────────────────────────────────────────────────────
   📋 PÁGINA DE FALE CONOSCO(contatos.html)
   ─────────────────────────────────────────────────────────── */

    /* conteúdo contato */
.contato-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.formulario {
    background: var(--cinza-claro);
    padding: 30px 60px;
    border-radius: 8px;
    max-width: 900px;
    width: 100%;       
    display: flex;
    flex-direction: column;
    align-items: stretch; 
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.formulario h3 {
    margin-bottom: 20px;
    color: var(--azul-medio);
    width: 100%;
    text-align: center;
}

/* Container de cada campo */
.formulario .campo {
    position: relative;
    margin-bottom: 20px;
   
}

/* Inputs e Textarea */
.formulario .campo input,
.formulario .campo textarea {
    width: 100%;
    padding: 14px 12px 6px 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
    background: transparent;
    outline: none;
    transition: border-color 0.2s ease;
}

/* Textarea específico */
.formulario .campo textarea {
    resize: vertical;
    min-height: 100px;
}

/* Label flutuante */
.formulario .campo label {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    color: #aaa;
    pointer-events: none;
    background: white;
    padding: 0 4px;
    transition: all 0.2s ease;
}

/* Label do textarea posicionada no topo */
.formulario .campo textarea ~ label {
    top: 18px;
}

/* Label sobe quando focado ou preenchido — input */
.formulario .campo input:focus ~ label,
.formulario .campo input:not(:placeholder-shown) ~ label {
    top: 0;
    font-size: 11px;
    color: var(--azul-edlopes);
    font-weight: bold;
    transform: translateY(-50%);
}

/* Label sobe quando focado ou preenchido — textarea */
.formulario .campo textarea:focus ~ label,
.formulario .campo textarea:not(:placeholder-shown) ~ label {
    top: 0;
    font-size: 11px;
    color: var(--azul-edlopes);
    font-weight: bold;
    transform: translateY(-50%);
}

/* Borda azul no foco */
.formulario .campo input:focus,
.formulario .campo textarea:focus {
    border-color: var(--azul-edlopes);
}




.formulario button {
    background: var(--azul-edlopes);
    color: var(--branco);
    border: none;
    padding: 12px 30px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    align-self: center;
    transition: background 0.3s ease;
}

.formulario button:hover {
    background: var(--azul-escuro);
}


.hp-field {
    display: none;
    visibility: hidden;
    position: absolute;
    left: -9999px;
    height: 1px;
}



.contato-info {
    margin-top: 20px;
}

.contato-info h3 {
    color: var(--azul-edlopes);
    margin-bottom: 20px;
    font-size: 24px;
    margin-bottom: 20px;
}

.contato-info p{
    margin: 0 0 20px;
    line-height: 1.4;

    
}



