
/* ───────────────────────────────────────────────────────────
   📋 PÁGINA DE FALE CONOSCO(contatos.html)
   ─────────────────────────────────────────────────────────── */

    /* conteúdo contato */
.contato-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.formulario {
    background: var(--cinza-claro);
    padding: 20px;
    border-radius: 8px;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 900px; /* Alinhe com o tamanho do seu form */
}

.formulario h3 {
    margin-bottom: 20px;
    color: var(--azul-medio);
    width: 100%;
    text-align: center;
}



.formulario input,
.formulario textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;

}

.formulario input:focus,
.formulario textarea:focus {
    border-color: var(--azul-edlopes);
}






.formulario button {
    background: var(--azul-edlopes);
    color: var(--branco);
    border: none;
    padding: 12px 30px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    align-self: center;
    transition: background 0.3s ease;
}

.formulario button:hover {
    background: var(--azul-escuro);
}


.hp-field {
    display: none;
    visibility: hidden;
    position: absolute;
    left: -9999px;
    height: 1px;
}



.contato-info {
    margin-top: 20px;
}

.contato-info h3 {
    color: var(--azul-edlopes);
    margin-bottom: 20px;
    font-size: 24px;
    margin-bottom: 20px;
}

.contato-info p{
    margin: 0 0 20px;
    line-height: 1.4;

    
}



