
/* slides top */
.slider{
    overflow: hidden;
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.slides-srv {
    display: flex;
    gap: 20px;
    width: max-content;
    animation: scroll 80s linear infinite;
}

.slides-srv img {
    width: 280px;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
    opacity: 0.8;
    transition: 0.3s;
}

/* hover */
.slides-srv img:hover {
    opacity: 1;
    transform: scale(1.05);
}


/* slides botton */

.slides-srv {
    display: flex;
    gap: 20px;
    width: max-content;
    animation: scroll 80s linear infinite;
}

.slides-srv img {
    width: 280px;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
    opacity: 0.8;
    transition: 0.3s;
}

/* hover */
.slides-srv img:hover {
    opacity: 1;
    transform: scale(1.05);
}


















/* animação */
.hero-titulo h1{
    animation: fadeUp 1s ease;
}