
/* slides top */
.slider{
    overflow: hidden;
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.slides-srv {
    display: flex;
    gap: 20px;
    width: max-content;
    animation: scroll 80s linear infinite;
}
.slides-srv-bottom {
    display: flex;
    gap: 20px;
    width: max-content;
    animation: scroll 80s linear infinite reverse;
}

.slides-srv img, .slides-srv-bottom img {
    width: 280px;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
    opacity: 0.8;
    transition: 0.3s;
}

/* hover */
.slides-srv img:hover, .slides-srv-bottom img:hover {
    opacity: 1;
    transform: scale(1.05);
}

/* hover */
.slides-srv img:hover {
    opacity: 1;
    transform: scale(1.05);
}

.sub-titulo h2 {
    font-size: 28px;
    color: #333;
    margin-bottom: 5px;
}
.sub-titulo p {
    font-size: 18px;
    color: var(--cor-primaria);
    line-height: 1.6;
    margin-top: 10px;
    text-align: justify;
}

/* animação */
.sub-titulo h1{
    animation: fadeUp 1s ease;
}